@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --spacing: 7px;

  --color-clear: #fff;
  --color-dark: #333;
  --color-background: #f0f0f0;
  --color-primary: #007bff;
}

body, html {
  padding: var(--spacing);
  font-family: "Lato", serif;
  font-style: normal;
  background-color: var(--color-background);
}

header > h1 {
  color: var(--color-primary);
  padding-bottom: var(--spacing);
  border-bottom: 1px solid var(--color-dark);
}

form label {
  display: inline;
  margin-bottom: var(--spacing);
}

form input {
  margin-bottom: var(--spacing);
}

form input[type=text] {
  display: block;
  padding: var(--spacing);
  margin-top: var(--spacing);
  border-radius: var(--spacing);
}

form button[type=submit] {
  padding: var(--spacing);
  background-color: var(--color-primary);
  color: var(--color-clear);
  border: none;
  cursor: pointer;
  border-radius: var(--spacing);
}

form > div {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}